h1
{
	font-family: Allan, Playfair, Old Standard, serif;
	color: #1F4DB3;
	background-color: #00CCFF;
	text-align: center;
}

nav
{
	background-color: #00D9BF;
	line-height: 200%;
	display: block;
	width: 940px;
	padding: 10px;
	margin-bottom: 10px;
}

nav li
{
	display: inline;
	padding-right: 40px;
	List-style-type: none;
}

nav a:link
{
	color: lightgreen;
	text-decoration: none;
}

nav a:visited
{
	color: green;
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

nav a:active
{
	text-decoration: underline;
	color: blue;
}

h2
{
	font-family: Allan, Playfair, Old Standard, serif;
	color: green;
	background-color: #00E680;
	text-align: left;
}

h3
{
	font-family: Allan, Playfair, Old Standard, serif;
	color: green;
	background-color: #00E680;
	text-align: left;
}

h4
{
	font-family: Allan, Playfair, Old Standard, serif;
	color: green;
	background-color: #00E680;
	text-align: left;
}

h5
{
	font-family: Allan, Playfair, Old Standard, serif;
	color: green;
	background-color: #00FF00;
	text-align: left;
}

a
{
	font-family: Lato, Cormorant Garamond, Open Sans, sans-serif;
	color: #003300;
}

body
{
	font-family: Lato, Cormorant Garamond, Open Sans, sans-serif;
	background-color: #00F240;
}

img
{
	margins: 10px;
}

iframe
{
	border: black thick block;
	image-align: center;
}

table
{
	border: solid 1px black;
	border-collapse: collapse;
	background-color: #00E680;
}

tr, td, th
{
	border: solid 2px black;
	padding: 5px;
	width: 100px;
	text-align: center;
}

tr:hover
{
	color: white;
	background-color: #00D9BF;
}

th
{
	width: 50px;
}

caption
{
	caption-side: top;
	font-weight: bold;
	margin: 5px;
}