h1
{
	font-family: "Digital Tech", "Anton", "Roboto", sans-serif;
	color: blue;
	background-color: green;
	text-align: center;
}

h2
{
	font-family: "Digital Tech", "Anton", "Roboto", sans-serif;
	color: red;
	background-color: blue;
	text-align: left;
}

a
{
	font-family: "Digital Tech", "Anton", "Roboto", sans-serif;
	color: blue;
}

body
{
	background-color: #706c11;
	color: white;
